<div style="display: flex; flex-direction: column; height: 100%;">
    <div style="display: flex; flex-direction: column; width: 100%; align-items: center; justify-content: center; flex: 1;">
        <h1 style="margin-bottom: 0;">1Web</h1>
        <p style="margin-top: 0; opacity: .75;">There's only one web.</p>

        <form action="/search" method="post" style="width: 100%; display: flex; justify-content: center;">
            <input type="text" class="x-search" name="query"/>
        </form>
    </div>

    <footer style="display: flex; padding-top: 2rem; padding-bottom: 2rem; justify-content: center;">
        <nav class="text-sm font-sans footer-nav">
            <a href="">Source Code</a>
            <a href="">Privacy</a>
            <a href="">Imprint</a>
        </nav>
    </footer>
</div>
